.cover__link {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  position: relative;
}

@media (max-width: 1279px) {
  .cover__link {
    height: 62.5vw;
    min-height: 200px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    row-gap: 16px;
  }
}
